.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  background-size: cover;
  background-position: center;
  padding: 5px; 
  padding-top: 70px;
}

.category {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 1px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.category-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.spl {
  border: 2px solid red;
  background-color: yellow;
}

.category h3 {
  background-color: rgba(255, 255, 255, 0.5); 
  background-image: linear-gradient(white, yellow);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  position: relative;
  z-index: 2; 
  color: black; 
  font-size: 30px; 
  font-weight: bold;
}

.beverage-image,
.burger-image,
.dessert-image,
.sauces-image,
.sides-image, 
.taco-image,
.wraps-image  {
  display: flex;
  transition: all 2s;
  position: relative;
  top: 0;
  left: 0;
  width: 157px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.recommended-item {
  margin: 10px;
}

.recommended-image {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 380px; 
  height: 500px; 
  margin-top: 67px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  margin-bottom: 50px;
}

.newt {
  display: flex;
  justify-content: center;
  color: black;
  width: 4000px;
  height: auto;
  backdrop-filter: blur(12px);
  font-weight: bolder;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  background-image: linear-gradient(white, yellow);
}

.recommendation {
  display: flex;
  justify-content: center;
  align-items: center;  
  opacity: 1;
  transition: opacity 0.5s ease;
}

.recommendation.hidden .recommended-image {
  display: none;
}

