/* this is the css file */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Ensure items are on a single line */
  overflow-x: auto; /* Add horizontal scrolling if needed */
  background-image: url('../assets/menu-images/menubg_fin.jpg');
  background-size: cover;
  background-position: center;
  padding: 5px; /* Optional padding */
  padding-top: 70px;
}

.category {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 1px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.category-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.spl {
  border: 2px solid red;
  background-color: yellow;
}

.category h3 {
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(3px);
  border-radius: 10px;
  position: relative;
  z-index: 2; 
  color: black; 
  font-size: 30px; 
  font-weight: bold;
}

.beverage-image,
.burger-image,
.dessert-image,
.sauces-image,
.sides-image, 
.taco-image,
.wraps-image  {
  display: flex;
  transition: all 2s;
  position: relative;
  top: 0;
  left: 0;
  width: 157px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.recommended-item {
  margin: 10px;
}

.recommended-image {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 380px; 
  height: 500px; 
  margin-top: 67px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  margin-bottom: 50px;
}

.newt {
  display: flex;
  justify-content: center;
  color: black;
  width: 4000px;
  height: auto;
  backdrop-filter: blur(12px);
  font-weight: bolder;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  margin: 10px 0;
}

.recommendation {
  display: flex;
  justify-content: center;
  align-items: center;  
  opacity: 1;
  transition: opacity 0.5s ease;
}

.recommendation.hidden .recommended-image {
  display: none;
}

.belowText {
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: repeating-radial-gradient(red, pink);
  border-style: ridge;
  border: 2px solid pink;
  height: 60px;
  width: 1000px;
  border-radius: 40px;
  margin-top: 100px;
}
