.menu-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
  padding: 5px;
  padding-top: 70px;
  height: 100%;
}

.menu-items {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.menu-item {
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(107, 84, 39, 0.2), 0 0 0 2px rgba(255, 255, 255, 0.1);
  padding: 20px;
  background-color: rgba(20, 20, 20, 0.7);
  backdrop-filter: blur(10px);
  font-size: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-weight: 600;
  width: 300px;
}

.menu-item h3 {
  font-style: normal;
  font-size: 20px;
  font-family: cursive;
  font-weight: 600;
  margin-bottom: 10px;
  color: #f4f4f4;
}

.menu-item p {
  margin: 5px 0;
  color: #fff;
}

/* .menu-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -12;
} */
