.blurred {
  filter: blur(10px);
  transition: filter 0.3s ease-in-out;
}

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-card {
  background: rgba(10, 10, 10, 0.871);
  backdrop-filter: blur(30px);
  width: 20vw;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(107, 84, 39, 0.2), 0 0 0 2px rgba(255, 255, 255, 0.1);
  max-width: 400px;
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
}

form h1 {
  text-align: center;
  font-size: 3.3rem;
  font-weight: 700;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input,
.input-box select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 2.5rem;
  font-size: 1.5rem;
  color: #fff;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  padding: 0 1.25rem;
}

.input-box input::placeholder,
.input-box select::placeholder {
  color: #fff;
  transition: opacity 0.3s ease;
}

.input-box input:focus::placeholder,
.input-box select:focus::placeholder {
  opacity: 0;
}

.input-box input:hover,
.input-box select:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.input-box .icon {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
}

form button {
  width: 100%;
  height: 45px;
  background: #fff;
  outline: none;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  color: #333;
  font-weight: 700;
  transition: background-color 0.3s ease;
  margin-top: 20%;
}

.main button:hover {
  background-color: #d1d1d1;
}

form .login-link {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 0 5px;
}

.login-link p {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px 0;
  gap: 4px;
}

.login-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login-link p a:hover {
  text-decoration: underline;
  color: #e6e6e6;
}

form .input-box-group {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  
  form .input-box-group .input-box {
    margin-left: 0;
    margin: 0;
    text-align: center;
  }
  
  
  .main-content.blurred {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
  }
  
  .time-dropdown {
    appearance: none; /* Remove default dropdown arrow */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 2.5rem;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Change the background color */
    text-indent: 1.25rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .time-dropdown:hover,
  .time-dropdown:focus {
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .time-dropdown option {
    background-color: #333; /* Background color of the options */
    color: #fff;
  }